<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105631385015-ocsc0h0p7cteit432t6i8qs7djsf96s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105631385015-ocsc0h0p7cteit432t6i8qs7djsf96s2</string>
	<key>API_KEY</key>
	<string>AIzaSyAArhKWXJ2oavQHx0SCORmmbG1JfJvW4Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>105631385015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mikhaildanilov.Pizza</string>
	<key>PROJECT_ID</key>
	<string>pizza-19b86</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-19b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105631385015:ios:9612c4f87e4c3ff9675432</string>
</dict>
</plist>